* {
  list-style-type: none;
}

body {
  background-image: url(./assets/macos-Ventura-wallpaper-dark.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

header {
  padding: 0;
  margin: 0;
  
  section {
    max-height: 3rem;
    background-color: rgb(195, 139, 139, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;;
      margin-left: 1rem;
      gap: 1rem;
    }
    img {
      margin-left: 1rem;
      width: 1rem;
      width: 2.5rem;
    }
    time {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-right: 1rem;
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  section {
    background-color: rgb(195, 139, 139, 0.7);
    border-radius: 1rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    img{
      width: 4rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// Calculator.scss

.calculator{
  width: 300px;
  padding: 0;
  border: 1px solid black;

  &--close__button {
    border: none;
    background-color: red;
    position: fixed;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  
  &__display {
    background-color: darkgrey;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-right: 1rem;
    height: 2.5rem;
    align-items: center;
  }
  &__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    button {
      height: 2.5rem;
    }
  }
  .double--width__button {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .key__operator, .key__equal {
    background-color: orange;
  }
}

// Dadjokes.scss

.dadjokes {
  border: 1px solid black;
  padding: 1rem;
  background-color: yellow;
  max-width: 50vw;
  height: 40vh;
  header{
    display: flex;
    align-items: center;
    * {
      margin: 1rem;
    }
    img {
      width: 10%;
    }
    button {
      height: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  main {
    p {
      font-weight: 700;
      font-size: 30px;
    }
  }
  footer {
    font-size: 12px;
    a {
      text-decoration: underline;

      &:visited {
        color: black;
      }
    }
  }
}

// Weather.scss
.weather__app {
  background-color: lightblue;
  border: 1px solid black;
  &--display{

    &-minmax {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
  &--input {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
}