<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./dadjokes.js" defer></script>
  <link rel="stylesheet" href="dadjokes.css">
</head>
<body>
  <section class="dadjokes">
    <button>X</button>
    <header>
      <img src="../../assets/smile.svg" alt="">
      <h1>Dad Jokes!</h1>
      <button id="newJokeBtn">Get a new Joke!</button>
    </header>
    <main>
      <p id="joke">Smile a little bit by pressing this button above!</p>
    </main>
    <footer>Jokes & Icon Credit all belongs to <a href="https://icanhazdadjoke.com/about">Brett Langdon</a></footer>
  </section>
</body>
</html>